/* Reset de option du navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Police */
@font-face {
    font-family: 'LexendBold';
    src: url(./assets/police/Lexend/Lexend-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'LexendRegular';
    src: url(./assets/police/Lexend/Lexend-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Chiron-goround-tc800';
    src: url(./assets/police/ChironGoRoundTC/chiron-goround-tc-v4-latin-800.woff2) format('truetype');
}

@font-face {
    font-family: 'MontserratBold';
    src: url(./assets/police/Montserrat/Montserrat-Bold.otf) format('true');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url(./assets/police/Montserrat/Montserrat-Regular.otf) format('true');
}

h1 {
    font-family: 'LexendRegular';
    font-size: clamp(1.3rem, 4vw, 3rem);
    margin: 0;
}

h2 {
    font-family: 'LexendBold';
    font-size: clamp(1.2rem, 4vw, 2rem);
    margin: 0;
}

.titreVisite {
    color: #9e5705;
    text-decoration: none;
    font-family: 'LexendBold';
    font-size: clamp(1rem, 2vw, 1.2rem);
}

p {
    font-family: 'LexendRegular';
    font-size: clamp(1rem, 4vw, 1.3rem);
}

/* Elément général */
body {
    background-color: #f5f5f5;
    color: #143963;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* HEADER */
/* header sticky */
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    transition: box-shadow 0.8s ease;
    padding: 1vh 1vw;
    z-index:100;
}

/* box shadow avec effet JavaScript pour ne pas avoir d'ombre en haut de page */
header.scrolled {
    box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.4);
}

/* header navbar */
ul {
    list-style: none;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-template-rows: 1fr;
}

/* Animation navbar */
.NavBarLogo:hover img {
    animation: animeLogoVrille 1s infinite ease-in-out;
}

@keyframes animeLogoVrille {
    0%  { transform: rotate(0deg); }
    10% { transform: rotate(10deg); }
    20% { transform: rotate(-10deg); }
    30% { transform: rotate(8deg); }
    40% { transform: rotate(-8deg); }
    50% { transform: rotate(6deg); }
    60% { transform: rotate(-6deg); }
    70% { transform: rotate(4deg); }
    80% { transform: rotate(-4deg); }
    90% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

#logoImage {
    display: flex;
}

.NavBarLogo {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;    
}

.NavBarLogo img{
    width: clamp(40px, 5vw, 66px);
    height: auto;
    object-fit: cover;
}

.NavBarBurger {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBarBurger img {
    width: 28px;
    height: auto;
    object-fit: cover;

}

.NavBarText {
    color: #9e5705;
    text-decoration: none;
    font-family: 'Chiron-goround-tc800';
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    transition: transform 0.3s linear;
    display: inline-block;
}

.NavBarText:hover {
    transform: scale(1.10);
}
/* clamp(2rem, calc(2rem + (5 - 2) * ((100vw - 330px) / (1280 - 330))), 5rem); */
.NavBar {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #9e5705;
    text-decoration: none;
    font-family: 'Chiron-goround-tc800';
    font-size: clamp(1.25rem, 3vw, 1.8rem);
    border-radius: 40px;
    padding: 8px 16px;
    transition: 0.3s linear;
}

.NavBar:hover {
    background-color: #9e5705;
    color: #F5F5F5;
    transform: scale(1.10);
    box-shadow: 0px 4px 10px rgba(158, 87, 5, 0.4);
}

/* Placement de élément de la navbar */
#logoBurger {
    display: none;
}

#logoImage {
    grid-column: 1;
}

#logotext {
    grid-column: 2/span 2;
}

#elAccueil {
    grid-column: 4;
}

#elCreer {
    grid-column: 5;
}

#elAlbum {
    grid-column: 6;
}

#elExplorer {
    grid-column: 7;
}

#elAmis {
    grid-column: 8;
}

#elCompte {
    grid-column: 9;
}

/* Premier section */
.titreAccueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton span {
    display: flex;
    gap: 6vw;
}

.bouton span a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'LexendBold';
    font-size: clamp(1.10rem, 3vw, 1.5rem);
    color: #F5F5F5;
    background-color: #9e5705;
    border: 4px solid #9e5705;
    width: clamp(100px, calc(100px + (150 - 100) * ((100vw - 330px) / (1280 - 330))), 150px);
    height: clamp(33px, calc(33px + (50 - 33) * ((100vw - 330px) / (1280 - 330))), 50px);
    border-radius: 8px;
    transition: 0.5s linear;
}

.bouton span a:hover {
    color: #9e5705;
    background-color: #F5F5F5;
    border: 4px solid #9e5705;
    box-shadow: 0px 4px 10px rgba(158, 87, 5, 0.4);
}

/* Section à la une */
.chapitre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chapitreFond {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    max-width: 1280px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4vw;
}

.chapitreTitre {
    max-width: 100%;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
}

.titreVisite {
    position: relative;
    transition: transform 0.3s linear;
}

.titreVisite:after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #9e5705;
    transition: width 0.3s ease;
}

.titreVisite:hover::after {
    width: 100%;
}

.aLaUneMembre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8vw;
}

.avatarUtilisateur {
    border: #9e5705 solid 2px;
    width: clamp(40px, 8vw, 80px);
    height: clamp(40px, 8vw, 80px);
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s linear;
}

.avatarUtilisateur:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 16px 1px #9e5705 ;
}

.albumUtilisateur {
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
    height: auto;
    transition: transform 0.3s linear;
}

.albumUtilisateur:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 4px #33333388;

}

/* Responsive */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    header {
        background-color: rgb(37, 189, 17);
    }

    #logotext {
        display:none;
    }

    ul {
        grid-template-columns: repeat(7, 1fr);
    }
    #elAccueil {
        grid-column: 2;
    }

    #elCreer {
        grid-column: 3;
    }

    #elAlbum {
        grid-column: 4;
    }

    #elExplorer {
        grid-column: 5;
    }

    #elAmis {
        grid-column: 6;
    }

    #elCompte {
        grid-column: 7;
    }
    .chapitreFond {
        border-radius: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        background-color: rgb(19, 187, 209);
    }

    #logotext, #elAccueil {
        display:none;
    }


    ul {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    #elCreer {
        grid-column: 2;
    }

    #elAlbum {
        grid-column: 3;
    }

    #elExplorer {
        grid-column: 4;
    }

    #elAmis {
        grid-column: 5;
    }

    #elCompte {
        grid-column: 6;
    }

    .chapitreFond {
        border-radius: 0px;
    }
}

@media (max-width: 768px) {
    header {
        background-color: rgb(209, 104, 104);
    }

    .NavBarText {
        font-size: clamp(18px, 5vw, 24px);
    }

    ul {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 1fr;
    }

    #logoImage {
        justify-self: start;
    }

    #logoBurger {
        display: block;
        grid-column: 4;
        justify-self: end;
    }

    #elAccueil, #elCreer, #elAlbum, #elAmis, #elExplorer, #elCompte {
        display: none;
    }

    .chapitreFond {
        border-radius: 0px;
    }

    .nomUtilisateur {
        display: none;
    }

}
